<footer>
    <div class="container footer-content">
        <div class="footer-left">
            <a href="index.html" class="logo">NOVUS<span class="dot">.</span></a>
            <p>Designed for the ambitious.</p>
            <div class="footer-meta">
                <span>Vadodara, Gujarat, India</span>
                <br>
                <a href="mailto:hello@novus.agency">hello@novus.agency</a>
            </div>
        </div>
        <div class="footer-links">
            <div class="link-column">
                <h4>Navigation</h4>
                <a href="index.html">Home</a>
                <a href="work.html">Work</a>
                <a href="services.html">Services</a>
                <a href="seo.html">SEO</a>
            </div>
            <div class="link-column">
                <h4>Socials</h4>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
                <a href="#">Behance</a>
            </div>
            <div class="link-column">
                <h4>Legals</h4>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p>&copy; <span id="copyright-year">2026</span> Novus Agency. All Rights Reserved.</p>
    </div>
</footer>